/*
  elm-hot creates an additional div wrapper around the app to make HMR possible.
  This could break styling in development mode if you are using Elm UI.

  More context in the issue:
    https://github.com/halfzebra/create-elm-app/issues/320
*/

[data-elm-hot='true'] {
  height: inherit;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background: #322885;
  background-image: url('../public/img/bg.png');

  margin: 0;
  text-align: center;

  font-family: 'Source Sans Pro', 'Trebuchet MS', 'Lucida Grande',
    'Bitstream Vera Sans', 'Helvetica Neue', sans-serif;

  color: #414141;
}

@font-face {
  font-family: 'Aliseo';
  src: url('ALISEO-NonCommercial.otf');
}

h1 {
  font-size: 5vh;
  margin: unset;
  color: #414141;

  font-family: 'Aliseo', 'Source Sans Pro', 'Trebuchet MS', 'Lucida Grande',
    'Bitstream Vera Sans', 'Helvetica Neue', sans-serif;
}

p {
}

.wrapper {
  width: 100%;
  margin: 0 auto;
}

.header {
  background: #aecf80;
}

.header-logo {
  max-width: 60%;
  margin: 0 auto;
  padding: 2vh 0;
  display: flex;
}

@media screen and (max-width: 768px) {
  .header-logo {
    max-width: 90%;
  }
}

.header-icon {
  flex: 33%;
}

.header-icon img {
  width: 100%;
}

.header-text {
  flex: 67%;
  padding-top: 2rem;

  text-align: left;
  font-size: 10vw;
  line-height: 8vw;
  color: #fff;
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.07);

  font-family: 'Aliseo', 'Source Sans Pro', 'Trebuchet MS', 'Lucida Grande',
    'Bitstream Vera Sans', 'Helvetica Neue', sans-serif;
}

@media screen and (max-width: 768px) {
  .header-text {
    padding-top: unset;
    font-size: 14vw;
    line-height: 14vw;
  }
}

.header-text > span {
  display: block;
}

.nav-wrapper {
  background: #e0485d;
}

.header-nav {
  display: flex;
  width: 100%;
  max-width: 60%;
  margin: 0 auto;
}

.nav-button {
  flex-grow: 1;
  line-height: 5vh;
  font-size: 2vh;
  border: unset;
  background: transparent;
  color: #fff;
  cursor: pointer;
}

.nav-button:hover {
  background: #ec7585;
}

.page {
  width: 100%;
  max-width: 60%;
  min-height: 800px;

  margin: 3vw auto;
  padding: 4vh 4vh;

  border-radius: 36px;
  background: #fff;
  -webkit-box-shadow: 0 4px 24px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 24px 0 rgba(0, 0, 0, 0.2);

  text-align: left;
}

@media screen and (max-width: 768px) {
  .page {
    max-width: 95%;
  }
}

.post {
  color: #222;
}

.post-author {
  color: #777;
}

.post-body {
  font-size: 1.1rem;
  line-height: 2rem;
  text-indent: 4rem;
  color: #555;
}

.post-about {
  display: flex;
  border-top: 4px dashed #ccc;
  margin-top: 4rem;
  padding: 2rem 0;
}

.about-image {
  flex: 1;
}

.about-image img {
  width: 100%;
  border: 0.6rem solid #333;
}

.about-text {
  flex: 3;
  margin-left: 1rem;
}

.about-text > span {
  display: block;
}

.about-text > p {
  text-indent: 2rem;
}

.text-bold {
  font-weight: bold;
}
.text-italic {
  font-style: italic;
}

.text-light {
  color: #777;
}

.text-large {
  font-size: 1.2rem;
}

.stack-s {
  margin-bottom: 6px;
}

.stack-m {
  margin-bottom: 12px;
}

.stack-l {
  margin-bottom: 24px;
}
